<?xml version="1.0" encoding="utf-8"?>
<manifest package="reader.simple.com.simple_reader"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SwipeBackTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57957d84e0f55adec1002461"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="1"/>

        <activity
            android:name=".ui.activity.SplashActivty"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".ui.activity.AboutActivity">
        </activity>
        <activity android:name=".ui.activity.WebTextActivity">
        </activity>
        <activity android:name=".ui.activity.SettingActivity"/>
        <activity
            android:name=".ui.activity.ShowNotifyActivity"
            android:label="@string/title_activity_show_notify"
            android:theme="@style/SwipeBackTheme">
        </activity>
        <activity android:name=".ui.activity.TestDrawActivity">
        </activity>
        <activity
            android:name=".test.DropImageActiviy"
            android:label="@string/title_activity_drop_image_activiy"
            android:theme="@style/SwipeBackTheme">
        </activity>
        <activity
            android:name=".ui.activity.ReflectionActivity"
            android:label="@string/title_activity_reflection"
            android:theme="@style/SwipeBackTheme">
        </activity>
        <activity
            android:name=".ui.activity.LockScreenActivity"
            android:label="@string/title_activity_lockscreen"
            android:taskAffinity="reader.simple.com.simple_reader.lock"
            android:theme="@style/SwipeBackTheme">
        </activity>

        <service
            android:name=".ui.service.LockScreenService"
            android:enabled="true"
            android:process=":gray"
            android:exported="false"/>
        <service
            android:name=".ui.service.LockScreenService"
            android:enabled="true"
            android:process=":gray"
            android:exported="false"/>
    </application>

</manifest>